body{
    padding:20px 20px;
    margin:0;

}
.container{
    display: flex;
    justify-content: center;
}
.location{
    width:40vw;
    height:95vh;
    background-color: #2d3439;
    
}
#map{
    width:100%;
    height:95vh;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    margin: 50px 20px;
}
.logo_image_div{
    background-color: rgb(243, 238, 238);
    padding: 5px;
    border-radius: 2px;
}

.title{
    color:whitesmoke;
    text-align: center;
    font-size: 2.6rem;
    font-family: 'Kanit', sans-serif; 
}
form input{
    display: block;
    color:black;
    margin:20px auto;
    /* padding: 5px 40px; */
    width:250px;
    height:33px;
    border-radius: 20px;
    border: none;
    padding-left: 40px;
    font-size: 1.1rem;
    font-family: 'Kanit', sans-serif; 
    font-weight: bold;
}
form button{
    color:black;
    display: block;
    margin:auto;
    background-color: white;
    width:130px;
    height:33px;
    font-size: 1.2rem;
    border-radius: 20px;
    border: none;
    font-weight: 200;
    
}
.end_point{
    background-image: url(location-pin.png);
    z-index: 0;
}
.start_point{
    background-image: url(placeholder.png);
    margin:0px;
    margin-left: 35px;
}
.end_point,.start_point{
    background-repeat: no-repeat;
    background-position: 2%;
}
.current_location{
    display: inline-block;
    background-color: white;
    height:30px;
    width:30px;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 30px;
    margin-left: 4px;
}
.combine{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.autocomplete{
    z-index: 2;
    padding: 5px 5px;
    position: absolute;
    top:37px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid black;
    
}
.autocomplete1 {
    display: none;
}
.autocomplete2{
    display: none;
    top:58px;
}
.auto1{
    box-sizing: border-box;
    /* box-sizing: border-box; */
    width:400px;
    background-image: url('pin.png');
    background-repeat: no-repeat;
    background-position: left;
    /* height:40px; */
    /* border:1px solid red; */
    background-color: white;
    border-bottom: 1px solid rgb(154, 151, 151);
    font-size: 1rem;
    font-family: 'Kanit', sans-serif;
    padding: 5px 3px;
    padding-left: 45px;
    
}
.auto1 h4 , .auto1 p{
    margin: 0;
}
.auto1 h4{
    font-family: 1rem;
}
.auto1 p{
    padding-top: 4px;
    font-size: 0.9rem;
}